- if @pages.empty?
  %h1 Sorry
  %p No results found, please try again.
- else
  %h1 Results
  - @pages.each do |static_page|
    %h2
      = link_to static_page.title, Formatter.filename_to_url(static_page.filename)
    %p
      = Parser.format_content(static_page.content[0..600])