.container
  - if @pages.empty?
    %h1 Sorry
    %p No results found, please try again.
  - else
    %h1 Results
    - @pages.each do |page|
      %h2
        = link_to page.title, format_url(page.slug)
      %p
        = format_summary(page.content)