<div class="row home">
  <div class="container">
    <div "col-md-12">
      <h1 class="title-home" id="header">
        Power up your developer skills
      </h1>

      <h2 class="title-home" id="subheader">
        Welcome to Jumpstart Lab,</br>
        the best developer training anywhere.
      </h2>

      <%= button_to "Login with Github", "",class: "btn btn-default btn-lg" %>
    </div>
  </div>
</div>