.row.home
  .container
    .col-md-12
      %h1#header.title-home
        Power up your developer skills
      %h2#subheader.title-home
        Welcome to Jumpstart Lab,</br>the best developer training anywhere.
      = button_to "Login with Github", "/auth/github", method: :get, class: "btn btn-default btn-lg"